<div class="modal-header">
  <h4>Add Assignment for {{dateStr}}</h4>
</div>
<div class="modal-body">
  <p>Choose Class</p>
  <select ng-model="assignment.course" class="form-control" style="width:110px"
    ng-options="course.name +'-'+ course.number for course in courseList">
  </select>
  <form ng-if="assignment.course">
    <p>Assignment Name</p>
    <input ng-model="assignment.name" placeholder="Quiz Chapter 1">
    <p>Time</p>
    <timepicker ng-model="assignment.time"></timepicker>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="cancel()">Cancel</button>
  <button class="btn" ng-click="save(assignment)">Save</button>
</div>