<div class="container">
  <div class="col-md-2">
    <button class="btn btn-info" ng-click="addAssignments()">Add Assignments</button>
  </div>
  <div class="col-md-10">
    <h4>Class: {{className}}</h4>
    <table class="table">
      <tr>
        <th><a href="" ng-click="sort='name'">Assignment Name</a></th>
        <th><a href="" ng-click="sort='date'">Due Date</a></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="assignment in assignmentList | orderBy: sort">
        <td>{{assignment.name}}</td>
        <td>{{assignment.date | date: "MM-dd-yyyy"}}</td>
        <td><button class="btn btn-info" ng-click="edit(assignment)">Edit</button></td>
        <td><button class="btn btn-danger" ng-click="delete(assignment)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>