<div class="row">
  <div class="col-md-2">
    <button class="btn" ng-click="addClass()">Add Class</button>
  </div>
  <div class="col-md-10">
    <h2>Class List</h2>
    <table class="table table-striped">
      <tr>
        <th>Class</th>
        <th>Description</th>
        <th>Add Assignments</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="course in courseList">
        <td>
            {{course.name + " " + course.number}}
        </td>
        <td>{{course.description}}</td>
        <td><a class="btn btn-success" href="/assignments/{{course.name + '-' + course.number}}">View Assignments</a></td>
        <td><button class="btn btn-danger" ng-click="remove(course)">Delete</button></td>
      </tr>
    </table> 
  </div>
</div>
